.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 5rem;
  height: 4rem;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 0.5rem;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 0.5rem;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.lds-ellipsis .button{
  display: none!important;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 794px;
}

.hidden{
  display: none!important;
}

.default{
  display:inherit!important;
}


.box{
  display: none!important;
}


.comment{
  width: 100%;
  height: 20em;
  overflow: auto;
}


.lds-facebook {
  display: flex;
  position: relative;
  width: 80px!important;
  justify-content: center;
  height: 100vh;
  align-items: center;

}
.lds-facebook div {
  /* display: flex !important; */
  position: relative;
  flex: 100%;
  left: 8px;
  width: 16px;
  background: #2c73b6;
  -webkit-animation: lds-facebook 1.2s cubic-bezier(0,.5,.5,1) infinite;
  animation: lds-facebook 1.2s cubic-bezier(0,.5,.5,1) infinite;
  align-items: center;
  padding: 0;
  margin: 0;
  justify-content: center;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
